/*
 * @Description: 
 * @Author: 李大玄
 * @Date: 2022-09-17 14:01:03
 * @FilePath: /devNews-web-view/src/styles/base.scss
 * @LastEditors: 李大玄
 * @LastEditTime: 2022-10-29 14:51:12
 */

@import "./color.scss";
@import "./flex.scss";
@import "./font.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  /* box-sizing: border-box; */
}

.b {
  font-weight: bolder;
}

#app .middle {
  vertical-align: middle;
}

/*
  ml5, ml10... ml50
  ml6, ml8, ml10, ml12
*/
$sides: (top, bottom, left, right);
$spacing-types: (
  m: margin,
  p: padding,
);
@each $typeKey, $type in $spacing-types {
  @for $size from 0 through 100 {
    @each $side in $sides {
      .#{$typeKey}#{str-slice($side, 0, 1)}-#{$size} {
        #{$type}-#{$side}: #{$size}px !important;
      }
      .#{$typeKey}-#{$size} {
        #{$type}-#{$side}: #{$size}px !important;
      }
      .#{$typeKey}lr-#{$size} {
        #{$type}-left: #{$size}px !important;
        #{$type}-right: #{$size}px !important;
      }
      .#{$typeKey}tb-#{$size} {
        #{$type}-top: #{$size}px !important;
        #{$type}-bottom: #{$size}px !important;
      }
    }
  }
}

@for $brSize from 0 through 50 {
  .br-#{$brSize} {
    border-radius: #{$brSize}px;
  }
}

//宽度高度100%
@each $hSize in (height, width) {
  [#{$hSize}="100%"] {
    #{$hSize}: 100%;
  }
}
@for $size from 1 through 700 {
  @each $sizeKey in $size {
    .w-#{$sizeKey} {
      width: #{$sizeKey}px !important;
    }
    .min-w-#{$sizeKey} {
      min-width: #{$sizeKey}px !important;
    }
    .max-w-#{$sizeKey} {
      max-width: #{$sizeKey}px !important;
    }
    .h-#{$sizeKey} {
      height: #{$sizeKey}px !important;
    }
    .min-h-#{$sizeKey} {
      min-height: #{$sizeKey}px !important;
    }
    .max-h-#{$sizeKey} {
      max-height: #{$sizeKey}px !important;
    }
    .lh-#{$sizeKey} {
      line-height: #{$sizeKey}px !important;
    }
  }
}

.dbk {
  display: block;
}
.dibk {
  display: inline-block;
}

.align-top {
  vertical-align: top;
}

.wmax {
  width: 100%;
}
.hmax {
  height: 100%;
}

.t-a-c {
  text-align: center;
}
